<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">web</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="invoice">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> IN

            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="donvitinh">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Đơn Vị Tính
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LoaiSP">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Loại sản phẩm 
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sanpham">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Sản Phẩm
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Ncc">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Nhà cung cấp
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="phanquyenkho">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Phân QUyền Kho

            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="kho">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Kho

            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> User

            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nhapkho">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Nhập Kho

            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="xuatkho">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Xuất Kho

            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="baocaonhap">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Báo cáo Nhập Kho

            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="baocaoxuat">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Báo cáo Xuất Kho

            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="baocaoxuatnhapton">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Báo Cáo XNT

            </NavLink>
        </div>
    </nav>
</div>

